.book {
    margin:auto;
    position: relative;
    z-index: 1;
    right:35px;
    top:70px;
   
}
.bookContainer {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    bottom:40px;
}
#bookBackground {
    position: absolute;
    z-index: 0;
    margin: auto;
    width:95vw;
    left:2vw;
    top:0;
    padding-top: 20px;
    
}
.page img {
    position: absolute;
    width:420px;
    height: 550px;
    z-index: 0;
}
.left p{
    position: absolute;
    z-index: 1;
    color:black;
    bottom:50px;
    left: 50px;
    width:330px;
    height:50px;
}
.left {
    margin-right: 15px;
}
.right {
    margin-left: 15px;
}
.right p {
    position: absolute;
    z-index: 1;
    color: black;
    
    bottom:65px;
    left:40px;
    width:175px;
    height:150px;
}
.right .aiImage {
    width:130px;
    height:130px;
    right:28px;
    top:197px
}
.right .aiImage2{
    width:130px;
    height:130px;
    right:97px;
    top: 36px;
}
.left .aiImage {
    width:200px;
    height:200px;
    left:48px;
    top:40px;
}