.book {
    margin:auto;
    position: relative;
    z-index: 1;
    right:35px;
    top:70px;
   
}
.bookContainer {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    bottom:40px;
}
#bookBackground {
    position: absolute;
    z-index: 0;
    margin: auto;
    width:95vw;
    left:2vw;
    top:0;
    padding-top: 20px;
    
}
.page img {
    width:420px;
    height: 550px;
}
.page {
    
    
}
.left {
    margin-right: 15px;
}
.right {
    
    margin-left: 15px;
}